body {

    background-image: url(../img/5205447.jpg);

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

/* ATTRIBUTION DES GRID NAMES */

#leftGroup {
    grid-area: leftgrp;
}

#rightGroup {
    grid-area: rightgrp;
}

#box1 {
    grid-area: l1;
}

#box2 {
    grid-area: l2;
}

#box3 {
    grid-area: l3;
}

#box4 {
    grid-area: l4;
}

#box5 {
    grid-area: l5;
}

#box6 {
    grid-area: l6;
}

#box7 {
    grid-area: l7;
}

#box8 {
    grid-area: l8;
}

#box9 {
    grid-area: l9;
}

#box10 {
    grid-area: l10;
}

#box11 {
    grid-area: l11;
}

#box12 {
    grid-area: l12;
}

#box13 {
    grid-area: l13;
}

#box14 {
    grid-area: l14;
}

#box15 {
    grid-area: l15;
}

#box16 {
    grid-area: r1;
}

#box17 {
    grid-area: r2;
}

#box18 {
    grid-area: r3;
}

#box19 {
    grid-area: r4;
}

#box20 {
    grid-area: r5;
}

#box21 {
    grid-area: r6;
}

#box22 {
    grid-area: r7;
}

#box23 {
    grid-area: r8;
}

#box24 {
    grid-area: r9;
}

#box25 {
    grid-area: r10;
}

#box26 {
    grid-area: r11;
}

#box27 {
    grid-area: r12;
}

#box28 {
    grid-area: r13;
}

#box29 {
    grid-area: r14;
}

#box30 {
    grid-area: r15;
}

#leftGroup .whiteBar:first-of-type {
    grid-area: whiteB;
}

#leftGroup .whiteBar:nth-of-type(2) {
    grid-area: whiteB2;
}

#leftGroup .whiteBar:nth-of-type(3) {
    grid-area: whiteB3;
}

#leftGroup .whiteBar:nth-of-type(4) {
    grid-area: whiteB4;
}

#leftGroup .whiteBar:nth-of-type(5) {
    grid-area: whiteB5;
}

#leftGroup .whiteBar:nth-of-type(6) {
    grid-area: whiteB6;
}

#leftGroup .whiteBar:nth-of-type(7) {
    grid-area: whiteB7;
}

#rightGroup .whiteBar:nth-of-type(1) {
    grid-area: whiteB8;
}

#rightGroup .whiteBar:nth-of-type(2) {
    grid-area: whiteB9;
}

#rightGroup .whiteBar:nth-of-type(3) {
    grid-area: whiteB10;
}

#rightGroup .whiteBar:nth-of-type(4) {
    grid-area: whiteB11;
}

#rightGroup .whiteBar:nth-of-type(5) {
    grid-area: whiteB12;
}

#rightGroup .whiteBar:nth-of-type(6) {
    grid-area: whiteB13;
}

#rightGroup .whiteBar:nth-of-type(7) {
    grid-area: whiteB14;
}


/* COULEURS */

.red {
    background-color: red;
}

.blue {
    background-color: #1f6bff;
}

.white {
    background-color: white;
}

header {
    display: flex;
    background-color: rgba(33, 33, 33, 0.705);
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 5;
    top: 0;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
}

header nav {
    height: 100%;
    transition: all 0.2s ease-in-out;
}

header nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    list-style-type: none;
}

header nav ul li {
    display: flex;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
}

header nav ul li:not(:last-child) {
    margin-right: 100px;
    margin-left: 100px;
}

#section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;

    position: relative;
    overflow: hidden;
}

marquee {
    position: absolute;
    height: 400vh
}

.ball {
    top: 0;
    left: 0;
    z-index: 10;
    max-width: 150px;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#groupe img {
    width: 40px;
    height: 40px;
}

h1,
h3,
td {
    background: -webkit-linear-gradient(#eee, #DAA520);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}

table {
    background-color: rgba(0, 82, 154, 0.694);
    border: 1px rgba(112, 173, 226, 0.694);
    border-radius: 15px;
    margin-left: 8px;
}

td {
    padding: 10px;
    color: #ffffff;

}

.drapeaux {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#groupe {
    background-color: #160077;
    border: 1px #160077;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 350px;


}

#groupe p {
    margin-top: 10px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(#eee, #DAA520);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}

.drapeaux img {
    padding-right: 8px;
}

.tableau-participant {
    background-color: #1600775e;
    margin-right: 10px;
}

.tableau-participant td {
    font-weight: 900;
    font-size: 10px;
    padding-right: 5px;
}

#tableau_score {
    margin-left: 40px;
    margin-right: 40px;

}

#groupe {
    box-shadow: #6aa6ff 5px 10px 18px;
    margin-right: 20px;
    margin-left: 20px;
}

article {
    color: #DAA520;
}

#score_final .scores_pool {
    background-color: #160077;
}


.btn-hover.color {
    /* Button gradient color. The gradient have four different main colors, with a gradient between these. Only 2 of these colors will be visible on the button at any point. Upon hover, the background moves to show the other 2 colors  */
    background-image: linear-gradient(to right, #02067b, #1f0cd1, #2535e7, #193f91);
    /* Gives the button a shadow for a neon-like glow */
    box-shadow: 0 4px 15px 0 rgba(66, 66, 208, 0.75);
}

.btn-hover {
    font-family: Arial, Helvetica, sans-serif;
    /* Button size */
    height: 55px;
    width: 200px;
    /* Text size and boldness*/
    font-size: 16px;
    font-weight: 600;
    /* Text color */
    color: #DAA520;
    /* Cursor pointer */
    cursor: pointer;
    /* Margin around button */
    margin: 20px;
    /* Removes default border around buttons */
    border: none;
    /* This affects the gradient background size. By putting a background width to be 300% (above 100%), only the beginning portion of this background will be shown. When hovered, the background will shift towards the end, giving the illustion of a moving gradient*/
    background-size: 300% 100%;
    /* Curves the button */
    border-radius: 50px;
    padding: 20px 50px;
    /* Transition duration and style */
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    text-align: center;
}

.btn-hover:hover {
    /* Changes the start position of the gradient background upon hover, giving the illusion of motion. Feel free to play around with this percentage value to see how it works */
    background-position: 100% 0;
    /* Duration of gradient transition */
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

input[type="file"] {
    display: none;
}
#bouton_sauvegarde{
    left: 50%;
    margin-left: -350px;
    position: absolute;
    z-index: 40;
    text-align: center;
}
#section1 {
    width: 100%;
    display: grid;
    grid-template-areas: "leftgrp rightgrp";
    height: 80vh;
    grid-gap: 40px;
    font-family: 'Monda', sans-serif;
    overflow: hidden;
    position: relative;
    margin-top: 70px;
}

#score_final {
    text-align: center;
}



#leftGroup,
#rightGroup {
    display: grid;
    align-items: center;
    justify-items: center;
}


#section1 li {
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 40px;
    max-width: 150px;
    width: 100%;
}

#leftGroup {
    grid-template-areas:
        "l1 . . ."
        "whiteB l9 . ."
        "l2 whiteB5 . ."
        ". whiteB5 l13 ."
        "l3 whiteB5 whiteB7 ."
        "whiteB2 l10 whiteB7 ."
        "l4 . whiteB7 ."
        ". . whiteB7 l15"
        "l5 . whiteB7 ."
        "whiteB3 l11 whiteB7 ."
        "l6 whiteB6 whiteB7 ."
        ". whiteB6 l14 ."
        "l7 whiteB6 . ."
        "whiteB4 l12 . ."
        "l8 . . ."
    ;
}

#rightGroup {
    grid-template-areas:
        ". . . r1"
        ". . r9 whiteB8"
        ". . whiteB12 r2"
        ". r13 whiteB12 ."
        ". whiteB14 whiteB12 r3"
        ". whiteB14 r10 whiteB9"
        ". whiteB14 . r4"
        "r15 whiteB14 . ."
        ". whiteB14 . r5"
        ". whiteB14 r11 whiteB10"
        ". whiteB14 whiteB13 r6"
        ". r14 whiteB13 ."
        ". . whiteB13 r7"
        ". . r12 whiteB11"
        ". . . r8"
    ;
}

.leftBorder {

    border-right: solid 1px silver;
    padding: 7px;

}

.rightBorder {


    border-left: solid 1px silver;
    padding: 7px;

}

#rightGroup li {
    flex-direction: row-reverse;

}

.coutryBox {
    margin: auto;

}

.whiteBar {
    background-color: white;
    width: 2px;
    height: 100%;
}

#VS {
    position: absolute;
    top: 47.5%;
    left: 50%;
    margin-left: -25px;
    width: 35px;
}