/* ATTRIBUTION DES GRID NAMES */

#leftGroup{
    grid-area: leftgrp;
}

#rightGroup{
    grid-area: rightgrp;
}

#box1{
    grid-area: l1; 
}

#box2{
    grid-area: l2; 
}

#box3{
    grid-area: l3; 
}

#box4{
    grid-area: l4; 
}

#box5{
    grid-area: l5; 
}

#box6{
    grid-area: l6; 
}

#box7{
    grid-area: l7; 
}

#box8{
    grid-area: l8; 
}

#box9{
    grid-area: l9; 
}

#box10{
    grid-area: l10; 
}

#box11{
    grid-area: l11; 
}

#box12{
    grid-area: l12; 
}

#box13{
    grid-area: l13; 
}

#box14{
    grid-area: l14; 
}

#box15{
    grid-area: l15; 
}

#box1r{
    grid-area: r1; 
}

#box2r{
    grid-area: r2; 
}

#box3r{
    grid-area: r3; 
}

#box4r{
    grid-area: r4; 
}

#box5r{
    grid-area: r5; 
}

#box6r{
    grid-area: r6; 
}

#box7r{
    grid-area: r7; 
}

#box8r{
    grid-area: r8; 
}

#box9r{
    grid-area: r9; 
}

#box10r{
    grid-area: r10; 
}

#box11r{
    grid-area: r11; 
}

#box12r{
    grid-area: r12; 
}

#box13r{
    grid-area: r13; 
}

#box14r{
    grid-area: r14; 
}

#box15r{
    grid-area: r15; 
}

#leftGroup .whiteBar:first-of-type{
    grid-area: whiteB;
}

#leftGroup .whiteBar:nth-of-type(2){
    grid-area: whiteB2;
}

#leftGroup .whiteBar:nth-of-type(3){
    grid-area: whiteB3;
}

#leftGroup .whiteBar:nth-of-type(4){
    grid-area: whiteB4;
}

#leftGroup .whiteBar:nth-of-type(5){
    grid-area: whiteB5;
}

#leftGroup .whiteBar:nth-of-type(6){
    grid-area: whiteB6;
}

#leftGroup .whiteBar:nth-of-type(7){
    grid-area: whiteB7;
}

#rightGroup .whiteBar:nth-of-type(1){
    grid-area: whiteB8;
}

#rightGroup .whiteBar:nth-of-type(2){
    grid-area: whiteB9;
}

#rightGroup .whiteBar:nth-of-type(3){
    grid-area: whiteB10;
}

#rightGroup .whiteBar:nth-of-type(4){
    grid-area: whiteB11;
}

#rightGroup .whiteBar:nth-of-type(5){
    grid-area: whiteB12;
}

#rightGroup .whiteBar:nth-of-type(6){
    grid-area: whiteB13;
}

#rightGroup .whiteBar:nth-of-type(7){
    grid-area: whiteB14;
}


/* COULEURS */

.red{
    background-color: red;
}

.blue{
    background-color: #1f6bff;
}

header {
    display: flex;
    background-color: rgba(33, 33, 33, 0.705);
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 5;
    top: 0;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
}

header nav {
    height: 100%;
    transition: all 0.2s ease-in-out;
}

header nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    list-style-type: none;
}
header nav ul li {
    display: flex;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

header nav ul li:not(:last-child) {
    margin-right: 100px;
    margin-left: 100px;
}

#section1{
    width: 100%;
    display: grid;
    grid-template-areas: "leftgrp rightgrp";
    background-color:forestgreen;
    height: 80vh;
    grid-gap: 40px;
    font-family: 'Monda', sans-serif;
}



#leftGroup, #rightGroup{
    display: grid;
    align-items: center;
    justify-items: center;
}


#section1 li{
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    height: 40px;
    max-width: 150px;
    width: 100%;
}

#leftGroup{
    grid-template-areas: 
    "l1 . . ."
    "whiteB l9 . ."
    "l2 whiteB5 . ."
    ". whiteB5 l13 ."
    "l3 whiteB5 whiteB7 ."
    "whiteB2 l10 whiteB7 ."
    "l4 . whiteB7 ."
    ". . whiteB7 l15"
    "l5 . whiteB7 ."
    "whiteB3 l11 whiteB7 ."
    "l6 whiteB6 whiteB7 ."
    ". whiteB6 l14 ."
    "l7 whiteB6 . ."
    "whiteB4 l12 . ."
    "l8 . . ."
    ;
}

#rightGroup{
    grid-template-areas: 
    ". . . r1"
    ". . r9 whiteB8"
    ". . whiteB12 r2"
    ". r13 whiteB12 ."
    ". whiteB14 whiteB12 r3"
    ". whiteB14 r10 whiteB9"
    ". whiteB14 . r4"
    "r15 whiteB14 . ."
    ". whiteB14 . r5"
    ". whiteB14 r11 whiteB10"
    ". whiteB14 whiteB13 r6"
    ". r14 whiteB13 ."
    ". . whiteB13 r7"
    ". . r12 whiteB11"
    ". . . r8"
    ;
}

.leftBorder{

    border-right: solid 1px silver;
    padding: 7px;

}

.rightBorder{


    border-left: solid 1px silver;
    padding: 7px;

}

#rightGroup li{
    flex-direction: row-reverse;

}

.coutryBox{
    margin: auto;
    
}

.whiteBar{
    background-color: white;
    width: 2px;
    height: 100%;
}

#VS {
    position: absolute;
    top: 40.5%;
    left: 50%;
    margin-left: -64px;
    width: 65px;
}

